// Specific CSS for your home-page
body {
  font-family: "Raleway", "Helvetica", "sans-serif";
}

.home-title {
  text-align: center;
  margin: 60px auto 30px auto;
  color: #022a3a;
}

.bck-white {
  background-color: #FFF;
}

.row-margin {
  margin-bottom: 50px;
}
