// Specific CSS for your home-page
body {
  font-family: "Raleway", "Helvetica", "sans-serif";
}

.home-title {
  text-align: center;
  margin: 60px auto 30px auto;
  color: #022a3a;
}

.bck-white {
  background-color: #FFF;
}

.row-margin {
  margin-bottom: 50px;

.subfooterwrap {
  background: linear-gradient(to right, #005aa7, #fffde4);
  height: 35vh;
  margin-top: 20%;
  margin: 0 auto;
}

.subfooter {
  display: flex;
  display-flex: columns;
  justify-content: space-between;
  height: 180px;
  align-items: center;
  margin-top: 40px;
}

.subfooterparagraph {
  font-size: 1.5rem;
  margin-top: -15px;
  margin-right: 15px;
}

.mini-logo-subfooter {
  height: 63px;
  padding-top: 8px;
}

.subfooterparagraph1 {
  font-size: 1.5rem;
  margin-top: -15px;
  margin-left: 15px;
}

.subfooterparagraph4 {
  font-size: 1.5rem;
  margin-top: -15px;
  margin-right: 15px;
}

.h31 {
  margin-left: 15px;
}

.image-container {
  padding: 30px;
}
