.bg-snow {
 background: url('https://res.cloudinary.com/lancekrp/image/upload/v1533538764/winterimage.jpg') no-repeat center center;
 background-size: cover;
 padding:60px;
}

.bg-mountain {
 background: url('https://images.unsplash.com/photo-1531140713905-b3abd17361c1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0d35be40d494f153198289a2b34ed4f2&auto=format&fit=crop&w=1600&q=60') no-repeat center center;
 background-size: cover;
}

.bg-water {
 background: url('https://images.unsplash.com/photo-1516511541785-8b41b0be6044?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b184b7215414fc45d72a1ccf735f3870&auto=format&fit=crop&w=800&q=60') no-repeat center center;
 background-size: cover;
}

.bg-wind {
 background: url('https://images.unsplash.com/photo-1530092261588-c51625b166da?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=412bf7b58da00c3b2085b9f71d40c0d9&auto=format&fit=crop&w=800&q=60') no-repeat center center;
 background-size: cover;
}

.bg-outdoor {
 background: url('https://images.unsplash.com/photo-1525863267585-0fab58062fa0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3aa6e870d4667f6fff55d136dbc4965f&auto=format&fit=crop&w=800&q=60') no-repeat center center;
 background-size: cover;
}

.product-banner {
  color: white;
}
