.bg-snow {
 background: url('https://res.cloudinary.com/lancekrp/image/upload/v1533542430/snow_banner1.jpg') no-repeat center center;
 background-size: cover;
 padding:60px;
}

.bg-water {
 background: url('https://res.cloudinary.com/lancekrp/image/upload/v1533542404/water_banner1.jpg') no-repeat center center;
 background-size: cover;
 padding:60px;
}

.bg-wind {
 background: url('https://res.cloudinary.com/lancekrp/image/upload/v1533542482/wind_banner.jpg') no-repeat center center;
 background-size: cover;
 padding:60px;
}

.bg-outdoor {
 background: url('https://res.cloudinary.com/lancekrp/image/upload/v1533542465/outdoor_banner1.png') no-repeat center center;
 background-size: cover;
 padding:60px;
}

.product-banner {
  color: white;
}
