<div class="card">
<div class="card-content" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(item.photo);">
</div>
<div class="card-footer">
  <div class="card-description">
    <h4><%= item.name %></h4>
    <!-- <div class="description"><%= item.description %></div> -->
    <div class="price">From $<%= item.price %>/day</div>
  </div>
</div>
</div>

