<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="container">
          <div class="footer-logo">
            <div class="footer-logo-text">
              <%= image_tag("logo.png", class: "footer-logo") %><b>eQuip</b> yourself!
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 footer-icons">
              <div>
                <i class="fab fa-youtube"></i>
              </div>
              <div>
                <i class="fab fa-twitter"></i>
              </div>
              <div>
                <i class="fab fa-instagram"></i>
              </div>
              <div>
                <i class="fab fa-facebook"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 footer-icons">
              <div>
                <i class="fab fa-cc-amex"></i>
              </div>
              <div>
                <i class="fab fa-cc-mastercard"></i>
              </div>
              <div>
                <i class="fab fa-cc-visa"></i>
              </div>
              <div>
                <i class="fab fa-cc-apple-pay"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 footer-list">
        <div class="footer-header"><b>Equip World</b></div>
        <ul>
          <li>
            <a href="">Who we are</a>
          </li>
          <li>
            <a href="">Work with us</a>
          </li>
          <li>
            <a href="">Affiliate Program</a>
          </li>
          <li>
            <a href="">Our blog</a>
          </li>
          <li>
            <a href="">Register</a>
          </li>
          <li>
            <a href="">Sitemap</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 footer-list">
        <div class="footer-header"><b>Society</b></div>
        <ul>
          <li>
            <a href="">Press kit</a>
          </li>
          <li>
            <a href="">Customer Care</a>
          </li>
          <li>
            <a href="">Business Activities Help</a>
          </li>
          <li>
            <a href="">Help</a>
          </li>
          <li>
            <a href="">Privacy Policy</a>
          </li>
          <li>
            <a href="">Terms of Service</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
