<div class="subfooterwrap">
  <div class="subfooter">
    <div class="image-container">
      <%= image_tag("magnifier.svg", class: "mini-logo-subfooter") %>
      <h3 class="h31">Search</h3>
      <p class="subfooterparagraph1">Search for the best sports equipment: anywhere, anytime.</p>
    </div>
    <div class="image-container">
      <%= image_tag("notebook.svg", class: "mini-logo-subfooter") %>
      <h3>Book</h3>
      <p class="subfooterparagraph">Compare price and models then book with a few clicks.</p>
    </div>
    <div class="image-container">
      <%= image_tag("home-delivery-service.svg", class: "mini-logo-subfooter") %>
      <h3>Receive</h3>
      <p class="subfooterparagraph">Pick up your item without the wait for your local partner</p>
    </div>
    <div class="image-container">
      <%= image_tag("high-five.svg", class: "mini-logo-subfooter") %>
      <h3>Enjoy</h3>
      <p class="subfooterparagraph4">Meet new people, explore the world and have fun.</p>
    </div>
  </div>
</div>
