<div class="container">
  <div class="form-header">
    <h2 class="text-center">Tell us about your Item</h2>
  </div>
  <div class="newitemform-container">
    <%= render 'shared/item_form' %>
  </div>
</div>
