.banner-wrapper {
  position: relative;
}

.banner-home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  margin-bottom: 50px;
}

.banner-c2a {
  width: 100%;
  align-items: start;
  margin-bottom: 30px;
  color: #FFF;

  h1 {
    font-size: 63px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }

  p {
    font-size: 33px;
    font-weight: lighter;
  }
}

.searchbar-container {
  width: 97%;
}

.form-control {
  height: 50px;
  border-radius: 5px;
  font-size: 15px;
}

#searchbtn {
  height: 50px;
  border-radius: 5px;
  width: 100%;
}

.advantages {
  display: flex;
  justify-content: space-between;
  width: 60%;
  position: absolute;
  bottom: 50px;
  color: #FFF;
  font-weight: lighter;
}

.advantages-img {
  display: flex;
  height: 40px;
  margin: 10px auto;
  filter: invert(1);
  opacity: 0.9;
}

#homecarousel {
  position: absolute;
  top: 0;
  z-index: -1;
}

.carousel .item {
  max-height: 100vh;
}

.carousel-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.15));
}

.carousel-fade {
  .carousel-inner {
    .item {
        transition-property: opacity;
    }

    .item,
    .active.left,
    .active.right {
        opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
        opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
    }
  }
}
