.card {
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.card h4 {
  margin-bottom: 0;
  margin-top: 0;
}


.card-content {
  height: 225px;

  background-size: cover !important;
  background-position: center;
  position: relative;
}

.card-description {
  position: relative;
}

.price {
  position: absolute;
  top: 5px;
  right: 5px;
}

.card-footer {
  margin: 5px;
  height: 50px;
  color: black;
  font-size: 15px;
}
