.card {
  border-radius: 5px;
  border: 1px solid rgb(235, 235, 235);
}

.card:hover {
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.3);
  transition: box-shadow 0.2s ease-in;
}

.card h4 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 18px;
}


.card-content {
  height: 30vh;
  background-size: cover !important;
  border-radius: 5px;
  background-position: center;
  position: relative;
  opacity: 1;
}

.card-content:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-in;
}

.card-footer {
  margin: 5px;
  height: 130px;
  color: black;
  font-size: 15px;
  position: relative;
  margin-bottom: 10px;
}

.card-category {
  position: absolute;
  top: 15px;
  left: 5px;
}

.card-name {
  position: absolute;
  bottom: 60px;
  left: 5px;
}

.card-price {
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 13px;
}

.card-rating {
  position: absolute;
  bottom: 30px;

  span {
    font-size: 13px;
  }
}
