.dashboard {
  margin: 20px;
  background: white;
  padding: 20px;
}

.your-info {
  background: white;
  margin: auto;
  text-align: center;

}

.name {
  font-size: 50px;
}

.bookings {
  margin-bottom: 50px;

}

.booking-details {
  margin-top: 10px;
  margin-bottom: 20px;
}

.published {
  margin-top: 10px;
}

.row {
  height: 100%;

}

a {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

.end-date {
  margin-bottom: 10px;
}

.margin-left {
  margin-left: 13px;
}



