.dashboard {
  margin: 20px;
  background: white;
  padding: 20px;
  height: 100vh;

}

.your-info {
  background: white;
  margin: auto;
  text-align: center;

}

.name {
  font-size: 50px;
}

.bookings {
  margin-bottom: 50px;

}

.user-items {

}

.row {
  height: 100%;

}



