footer {
  background: linear-gradient(to right, #6190e8, #a7bfe8);
  height: 44vh;
  padding-top: 4vh;
}

.footer-icons {
  display: flex;
  display-flex: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

.fab {
  font-size: 28px;
  margin-top: 12px;
}

.footer-logo-text {
  font-size: 22px;
  font-style: italic;
}

.footer-logo {
  height: 60px;
  margin-bottom: 25px;
  }

.footer-list {
  color: white;
  a {
    color: white;
  }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 29px;
}

.footer-header {
  padding-top: 2.5vh;
}
