.reviews-container {
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(119, 119, 119, 0.5);
  color: #022a3a;

  h3 {
    font-weight: lighter;
    margin-bottom: 30px;
    margin-left: 20px;
  }
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.reviews {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}

.review-body {
  flex-grow: 1;
}
.review-name {
  padding-left: 10px;
  font-size: 13px;
  // min-width: 100px;
}
.review-body {
  padding-left: 20px;
  font-size: 13px;
  color: rgba(0,0,0,0.4);
}

.review-rating {
  // font-size: 14px;
  // font-weight: bold;
}
